.contacts__title {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 600px;
  background-image: url("../images/background-contact.jpg");
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.contactus {
  position: relative;
  margin: 0 auto;
  max-width: 1230px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.contact-title{
  padding-top: 50px;
  display: flex;
}

.contact-image {
  width: 20vw;
  background-image: url("../images/contact-image.png");
  background-size: contain;
}

.form_left, .form_right{
  width: 60%;
}

.form_right{
  padding-left: 20px;
}


.form-contacts{
  padding-left: 50px;
  background-color: #ffffff;
  border-radius: 4px;
}

.forms_column{
  display: flex;
  justify-content: space-between;
}

.design-wrapper{
  position: relative;
}

.form-title-button{
  position: relative;
  margin-top: 8px;
  margin-bottom: 20px;
  width: 100%;
  height: 44px;
  background-color: #f4f5f6;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #a5a7aa;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding: 0px 0px 0px 10px;
  text-align: left;
}

.form-title-button::after{
  position: absolute;
  width: 16px;
  height: 14px;
  top: 20px;
  left: 250px;
  content: "";
  background-image: url('../images/vector-bottom.svg');
  transition: all 0.6s ease-in-out;
}

.form-title-button:hover::after {
  top: 14px;
  transform: rotate(180deg);
}

.interior-content{
  display: none;
  position: absolute;
  margin-left: 30px;
  background-color: #f4f5f6;
  width: 285px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}

.interior-content a{
  color: #424551;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: block;
  transition: all 0.6s ease-in-out;
}

.interior-content a:hover {
  background-color: #f4f5f6;
  color: #ff5a30;
}

.design-wrapper:hover .interior-content {
  display: block;
}

.check_line{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #ff5a30;
  transition: 0.2s all ease-in-out;
  position: relative;
}

.check:checked {
  border: 6px solid #ff5a30;
}


.form_message{
  padding-top: 20px;
  display: flex;
}

.form-contacts textarea{
  margin-top: 8px;
  padding-left: 16px;
  width: 100%;
  max-height: 95px;
  min-height: 95px;
  background: #f4f5f7;
  border: 1px solid #d7dadd;
  border-radius: 4px;
}

.contact_3{
  width: 60%;
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}

.button_contacts{
  margin-top: 20px;
  width: 50%;
}

.submit_contacts{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 5vh;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: #ff5a30;
  border: 0.2px solid #ff5a30;
  border-radius: 4px;
  transition: all 0.6s ease-in-out;
}

.submit_contacts input {
  font-size: 14px;
  line-height: 38px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: #ff5a30;
  border: none;
}

.office {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f4f5f6;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.contact-location {
  display: flex;
  position: relative;
  padding-top: 60px;
}

.contact-location::before {
  position: absolute;
  width: 1px;
  height: 254px;
  top: 70px;
  left: 360px;
  bottom: 0px;
  right: 0px;
  content: "";
  background-image: url("../images/line.svg");
}
.contact-location::after {
  position: absolute;
  width: 1px;
  height: 254px;
  top: 70px;
  left: 820px;
  bottom: 0px;
  right: 0px;
  content: "";
  background-image: url("../images/line.svg");
}

.contact-location ul {
  padding: 0;
  list-style-type: none;
}

.contact-location ul + ul {
  padding-left: 200px;
}

.contact-location h3 {
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1e212c;
}

.adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
}

.map {
  padding-bottom: 14px;
  width: 124px;
  height: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ff5a30;
  border: 1px solid #f4f5f6;
  transition: all 0.6s ease-in-out;
}
.map:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.contact-location span {
  padding-right: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.link {
  height: 30px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  transition: all 0.6s ease-in-out;
}
.link:hover {
  color: #ff5a30;
}

.schedule {
  height: 30px;
}

.video-title {
  position: relative;
  padding-top: 100px;
}

.social_media{
  padding-top: 30px;
  margin: 0 auto;
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.wa-contact {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../images/contacts-whatsapp.svg");
  transition: all 0.6s ease-in-out;
}
.wa-contact:hover {
  transform: scale(1.1);
  background-image: url("../images/contacts-whatsapp-orange.svg");
}
.fm-contact {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../images/contacts-messanger.svg");
  transition: all 0.6s ease-in-out;
}
.fm-contact:hover {
  transform: scale(1.1);
  background-image: url("../images/contacts-messanger-orange.svg");
}
.fb-contact {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../images/contacts-facebook.svg");
  transition: all 0.6s ease-in-out;
}
.fb-contact:hover {
  transform: scale(1.1);
  background-image: url("../images/contacts-facebook-orange.svg");
}
.tw-contact {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../images/contacts-twitter.svg");
  transition: all 0.6s ease-in-out;
}
.tw-contact:hover {
  transform: scale(1.1);
  background-image: url("../images/contacts-twitter-orange.svg");
}
.yt-contact {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../images/contacts-youtube.svg");
  transition: all 0.6s ease-in-out;
}
.yt-contact:hover {
  transform: scale(1.1);
  background-image: url("../images/contacts-youtube-orange.svg");
}


@media (max-width: 770px){

  .contacts__title{
    height: 60vh;
  }

  .video-title{
    padding-top: 50px;
  }

  .contact-title{
    flex-direction: column;
  }

  .contact-image{
    margin: 0 auto;
    width: 100vw;
    height: 40vh;
  }

  .form-contacts{
    padding-left: 0;
  }

  .forms_column{
    flex-direction: column;
  }

  .form_left, .form_right{
    width: 100%;
    padding: 0;
  }

  .form-title-button::after{
    left: 310px;
  }

  .check_line{
    padding-bottom: 30px;
  }

  .form_message{
    flex-direction: column;
  }

  .contact_3{
    width: 100%;
  }

  .button_contacts{
    width: 100%;
    padding-bottom: 30px;
  }

  .contact-location{
    flex-direction: column;
  }

  .contact-location::before{
    display: none;
  }

  .contact-location ul + ul{
    padding: 0;
    padding-top: 50px;
  }

  .social_media, .contacts_title{
    display: none;
  }

}