.news__title {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 70vh;
  background-image: url("../images/background-news.jpg");
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.article-news {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 2158px; */
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.article-news-wrapper {
  position: relative;
  margin: 0 auto;
  /* width: 1230px; */
}

.facts {
  padding-top: 70px;
}
.news-link {
  padding-top: 50px;
  width: 100%;
}

.news-link ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.news-link a {
  padding: 8px 50px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #9a9ca5;
  border-radius: 4px;
  border: 0.2px solid transparent;
  transition: all 0.6s ease-in-out;
}

.news-link a:hover {
  border: 0.2px solid #ff5a30;
  color: #ff5a30;
}

.article {
  /* position: absolute; */
  left: 0px;
  top: 0px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 600px;
  height: 482px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  transition: all 0.6s ease-in-out;
}

.article:hover {
  transform: scale(1.1);
}

.article:hover .common-article-title {
  color: #ff5a30;
  transform: scale(1.05);
}

.articles_row_1, .articles_row_2, .articles_row_3{
  display: flex;
  padding-top: 50px;
}

.article-1 {
  left: -645px;
  top: -850px;
}
.article-2 {
  left: 615px;
  top: -850px;
}
.article-3 {
  left: -645px;
  top: 230px;
}
.article-4 {
  left: 615px;
  top: 230px;
}
.article-5 {
  left: -645px;
  top: 1300px;
}
.article-6 {
  left: 615px;
  top: 1300px;
}

.article-image-1 {
  max-width: 100%;
  height: 32vh;
  background-image: url("../images/article-image-1.jpg");
  block-size: cover;
}
.article-image-2 {
  max-width: 100%;
  height: 32vh;
  background-image: url("../images/article-news-2.jpg");
  block-size: cover;
}
.article-image-3 {
  max-width: 100%;
  height: 32vh;
  background-image: url("../images/article-news-33.jpg");
  block-size: cover;
}
.article-image-4 {
  max-width: 100%;
  height: 32vh;
  background-image: url("../images/article-news-4.jpg");
  block-size: cover;
}
.article-image-5 {
  max-width: 100%;
  height: 32vh;
  background-image: url("../images/article-news-5.jpg");
  block-size: cover;
}
.article-image-6 {
  max-width: 100%;
  height: 32vh;
  background-image: url("../images/article-news-6.jpg");
  block-size: cover;
}

.article-wrapper {
  width: 100%;
  padding-top: 24px;
  background: white;
}

.common-article-title {
  text-decoration: none;
  padding-left: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  transition: all 0.5s ease-in;
}

.date {
  padding-left: 24px;
}

.date ul {
  list-style-type: none;
  padding: 0;
}

.date li + li {
  padding-left: 14px;
}

.common-article-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}

.comment-article {
  display: block;
  width: 14.4px;
  height: 12.8px;
  margin-left: 0px;
  margin-top: 4px;
  content: "";
  background-image: url("../images/comment-article.svg");
  background-size: cover;
}

.vertical-line-article {
  display: block;
  width: 2px;
  height: 12px;
  margin-left: 0px;
  margin-top: 4px;
  content: "";
  background-image: url("../images/vertical-line-article.svg");
  background-size: cover;
  opacity: 0.4;
}

.common-article-text {
  margin-top: 16px;
  margin-left: 24px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  color: #424551;
}


@media (max-width: 770px){

  .article-news-wrapper{
    padding-bottom: 100px;
  }

  .news__title{
    margin-top: 10px;
    width: 100%;
    height: 50vh;
    background-image: url('../images/background-news-mobile.jpg');
    background-size: 100% 100%;

  }

  .facts, .news-link{
    display: none;
  }

  .articles_row_1, .articles_row_2, .articles_row_3{
    flex-direction: column;
    padding-top: 0px;
  }

  .article-1, .article-2, .article-3, .article-4, .article-5, .article-6{
    left: 0;
    top: 0;
  }

  .article{
    padding-top: 30px;
    max-width: 100%;
    height: 60vh;
  }

  .common-article-title{
    font-size: 16px;
    padding: 0;
  }

  .common-article-text{
    margin-left: 0px;
  }

  .article-wrapper{
    padding: 20px 20px 20px 20px;
  }

  .date{
    padding: 0;
    padding-top: 10px;
  }


}
